*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
  
}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.search input{
    padding: 13px;
    border-radius: 20px;
    width: 75%;
    border: 0;
    outline: none;
    font-size: 15px;
    background-color: #ebfffc;
   
}
.search .close_btn{
    height: 50px;
    width: 50px;
    left: 820px;
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 50%;

}
.search .search_btn {
    border: 0;
    outline: none;
    background-position: center;
    background-size: cover;
    width: 55px;
    height: 55px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ebfffc;
    color: black;
}
.search button img{
    width: 16px;
  
}
.details{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.details img{
    height: 50px;
    width: 50px;
}
.details p{
    font-size: 20px;
}
.weather{
    display: none;
}
.error{
    display: flex;
    justify-content: start;
    font-size: 15px;
    text-align: start;
    display: none;
}